version: '3.4'

services:
  moneytracker-vk:
    image: moneytracker-vk
    build:
      context: .
      dockerfile: ./vk/Dockerfile
    command: "python3 /vk/main.py"
    restart: always

  moneytracker-tg:
    image: moneytracker-tg
    build:
      context: .
      dockerfile: ./tg/Dockerfile
    command: "python3 /tg/start.py"
    restart: always
